/* 在线链接服务仅供平台体验和调试使用，平台不承诺服务的稳定性，企业客户需下载字体包自行发布使用并做好备份。 */
@font-face {
    font-family: 'iconfont';
    /* Project id 4480913 */
    src: url('//at.alicdn.com/t/c/font_4480913_3r4ibjebgn4.woff2?t=1722699429953') format('woff2'),
        url('//at.alicdn.com/t/c/font_4480913_3r4ibjebgn4.woff?t=1722699429953') format('woff'),
        url('//at.alicdn.com/t/c/font_4480913_3r4ibjebgn4.ttf?t=1722699429953') format('truetype');
}

/* 使用：class="icon-xinxi" */
.icon-xinxi::before {
    content: '\e762';
}

.icon-prompt::before {
    content: '\e62c';
}

.icon-shezhi::before {
    content: '\e795';
}

.icon-store::before {
    content: '\e86a';
}

.icon-application::before {
    content: '\e600';
}




/* @font-face {
    font-family: DeYiHei;
    src: url('@/assets/font/SmileySans-Oblique-3.otf');
  } */

body {
    /* font-family: DeYiHei; */
    background-color: #f7f9fe;

}

.iconfont {
    font-family: "iconfont" !important;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -webkit-text-stroke-width: 0.2px;
    -moz-osx-font-smoothing: grayscale;
    cursor: pointer;
}

:root {
    --card-box-shadow: 0 3px 8px 6px rgba(7, 17, 27, 0.05);
    --card-hover-box-shadow: 0 3px 8px 6px rgba(7, 17, 27, 0.09);
}

.block {
    border-radius: 12px;
    box-shadow: var(--card-box-shadow);
    transition: all .3s;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.block:hover {
    box-shadow: var(--card-hover-box-shadow);
}

:root {
    --tag-color: #49b1f5;
}

/* 头像 */
.avatar img {
    width: 50px;
    height: 50px;
    clip-path: circle();
}

.hidden-scroll {
    &::-webkit-scrollbar {
        width: 0;
        /* Safari,Chrome 隐藏滚动条 */
        height: 0;
        /* Safari,Chrome 隐藏滚动条 */
        display: none;
        /* 移动端、pad 上Safari，Chrome，隐藏滚动条 */
    }
}

body .el-dialog {
    border-radius: 16px;
}

body .el-dialog .el-dialog__body {
    max-height: 60vh;
    overflow: scroll;
}

div::-webkit-scrollbar {
    width: 8px;
    height: 1px;
}

div::-webkit-scrollbar-thumb {
    border-radius: 4px;
    box-shadow: inset 0 0 5px rgba(182, 176, 176, 0.2);
    background: #EEF4FA; //滚动条颜色
}

div::-webkit-scrollbar-track {
    box-shadow: none;
    border-radius: 4px;
    background: transparent; //底色
}
